@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

//Fonts
$font-montserrat:"Montserrat", sans-serif;

//Colores
$color-negro:#1F232A;
$color-gris-oscuro:#303438;
$color-gris:#6f7071;
$color-gris-claro:#ddd;
$color-rojo:#e5302d;
$color-blanco:#ffffff;