/*
-----------------------------------
---------PAGINA DE INICIO----------
-----------------------------------
*/

/*1° SECTION - Vive la experiencia Avellaneda*/

.card-home{
    .tag{
        background:$color-rojo;
        color:$color-blanco;
        text-align:center;
        padding:5px 0px 5px 0px;
    }

    h2{font-size: 21px;}
}

/*3° SECTION - Bloque Experiencia Avellaneda*/

.bloque-exp-av{
    background:$color-rojo;
    color:$color-blanco;
    font-size:14px;
    padding:20px;

    h3{font-size: 18px}
}